/* backgrounds */
.Kohr-Ah,
.Cleanse,
.Home{
	background: url(../img/landmarks/backgrounds/Kohr-Ah.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Arilou {
	background: url("../img/landmarks/backgrounds/Arilou.gif") center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Ilwrath,
.Dill-Rats{
	background: url(../img/landmarks/backgrounds/Ilwrath.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.VUX,
.Gallery{
	background: url(../img/landmarks/backgrounds/VUX.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
}
.Yehat,
.Videos{
	background: url(../img/landmarks/backgrounds/Yehat.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Music{
	background: url(../img/landmarks/backgrounds/Starmap.png) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Thraddash,
.Contact{
	background: url(../img/landmarks/backgrounds/Thraddash.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Syreen{
	background: url(../img/landmarks/backgrounds/Syreen.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Kzer-Za,
.Ur-Quan{
	background: url(../img/landmarks/backgrounds/Kzer-Za.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Druuge,
.Releases{
	background: url(../img/landmarks/backgrounds/Druuge.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Quasispace{
	background: url(../img/landmarks/backgrounds/Quasispace.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Hyperspace{
	background: url(../img/landmarks/backgrounds/Hyperspace.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Orbit{
	background: url(../img/landmarks/backgrounds/Orbit.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Supox{
	background: url(../img/landmarks/backgrounds/Supox.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Daktaklakpak{
	background: url(../img/landmarks/backgrounds/Daktaklakpak.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Tanaka,
.Katana,
.Shofixti{
	background: url(../img/landmarks/backgrounds/Shofixti.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Commander{
	background: url(../img/landmarks/backgrounds/Commander.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Shipyard{
	background: url(../img/landmarks/backgrounds/Shipyard.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Starbase{
	background: url(../img/landmarks/backgrounds/Starbase.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Mycon{
	background: url(../img/landmarks/backgrounds/Mycon.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Utwig{
	background: url(../img/landmarks/backgrounds/Utwig.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Melnorme,
.FAQ{
	background: url(../img/landmarks/backgrounds/Melnorme.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.Chmmr{
	background: url(../img/landmarks/backgrounds/Chmmr.gif) center center fixed;
	height: 100%;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
}
.overlay{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4D8SMQAwhYAIwDlgAADZsAwPtIY3UAAAAAElFTkSuQmCC)left top fixed;
	height:100%;
	width:100%;
	position:fixed;
	filter: alpha(opacity=100);
	opacity: 1;
}