
.no-padding {
	padding: 0;
}
.header-content h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
.header-content hr {
	margin: 30px auto;
}
.header-content p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}