/*Fonts*/

@font-face {
		font-family: 'sf-new-republic';
		src: url('../fonts/sf_new_republic-webfont.woff') format('woff'),
				 url('../fonts/sf_new_republic-webfont.ttf') format('truetype'),
			 url('../fonts/sf_new_republic-webfont.eot');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'matisse_itcregular';
		src: url('../fonts/matisse_itc-webfont.woff') format('woff'),
				 url('../fonts/matisse_itc-webfont.ttf') format('truetype'),
				 url('../fonts/matisse_itc-webfont.eot');
		font-weight: normal;
		font-style: normal;

}

/* Overrides */

html,
body {
	height: 100%;
	width: 100%;    
	background-color: #111111;
	background: rgb(17,17,17);
}

.navbar{
	border-bottom: thin solid #333333;
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	font-family:"sf-new-republic";
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
	color: #555;
	background-color: transparent;
}

.navbar-inverse .nav > .active > a, 
.navbar-inverse .nav > .active > a:hover{
	color: darkgreen;
	background-color: transparent;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #555;
	text-decoration: none;
	background-color: transparent;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: transparent;
	color: #555;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
	background-color: transparent;
	color: darkgreen;	
}

.navbar .nav > li > a{
	color: darkred;
}

.navbar-inverse .navbar-brand{
	color: #000;
	text-shadow: red 0 0 8px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: darkred;
	text-shadow: #000 0 0 8px;
	background-color: transparent;
}

.dropdown-menu {
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border: thin solid #333333;
}

.menu-transparent {
	background-color: transparent;
	background: none;
	border: 0;
	float: left;
	min-width: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	text-align: none;
	background-color: #fff;
}

.dropdown-menu > li > a{
	color: darkred;
}

.dropdown-menu .divider {
  background-color: #121212;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
}

.jumbotron
{
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border-radius:0;
}

.well
{
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border-radius:0;
}

select
{
	color: dimGray;
}

h1{
	color: #000;
	text-shadow: darkred 0 0 8px;
	text-align: center;
}

h2,h3,h4{
	color: darkred;
	font-family:"sf-new-republic";
}

a:link {
		color: darkred;
		text-decoration: none;
}

/* visited link */
a:visited {
		color: darkred;
		text-decoration: none;
}

/* mouse over link */
a:hover {
		color: darkgreen;
		text-decoration: none;
}

/* selected link */
a:active {
		color: darkgreen;
		text-decoration: none;
}

a {
 cursor:pointer;
}

@media(max-width:767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: maroon;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #555;
		background-color: transparent;
	}
	section{
		padding-top:64px;
	}
}
@media(min-width:768px){
	section{
		padding-top:160px;
	}
	.navbar .navbar-nav{
			float: none;
			text-align: center;
	}
	.navbar .navbar-nav > li{
			float: none;
			display: inline-block;
	}
}
@media(min-width:992px){
	section{
		padding-top:192px;
	}
}
@media(min-width:1200px){
	section{
		padding-top:256px;
	}
}

/* Bootstrap Additions */

.well-xs {
	padding: 3px;
}

/* Additions */

.header {
	text-align: center;
}

.header h1 {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}
.header hr {
	margin: 30px auto;
	width: 20px;
}
.header p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}

.inline{
	display:inline-block;
}

.margin{
	margin:2% 4%;
}

.center
{
	float: none;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.indent
{
	text-indent: 20px;
}

.justify
{
	text-align:justify;
}

.matisse{
	font-family:"matisse_itcregular";
}

.sf-new-republic{
	font-family:"sf-new-republic";
}