/*Fonts*/

@font-face {
    font-family: 'sf-new-republic';
    src: url('../fonts/sf_new_republic-webfont.woff') format('woff'),
         url('../fonts/sf_new_republic-webfont.ttf') format('truetype'),
    	 url('../fonts/sf_new_republic-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'matisse_itcregular';
    src: url('../fonts/matisse_itc-webfont.woff') format('woff'),
         url('../fonts/matisse_itc-webfont.ttf') format('truetype'),
         url('../fonts/matisse_itc-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

/* Overrides */

body
{
	background-color: transparent;
}

.navbar{
	border-bottom: thin solid #333333;
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.6);
	font-family:"sf-new-republic";
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #555;
  background-color: transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #555;
  text-decoration: none;
  background-color: transparent;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #555;
}

.navbar .nav > li > a{
	color: darkred;
}

.navbar-inverse .navbar-brand{
	color: #000;
	text-shadow: darkred 0 0 8px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: darkred;
	text-shadow: #000 0 0 8px;
	background-color: transparent;
}

.dropdown-menu {
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border: thin solid #333333;
}

.menu-transparent {
	background-color: transparent;
	background: none;
	border: 0;
  float: left;
  min-width: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: none;
  background-color: #fff;
}

.dropdown-menu > li > a{
	color: darkred;
}

.jumbotron
{
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border-radius:0;
}

.well
{
	background-color: #111111;
	background: rgb(17,17,17);
	background: rgba(17,17,17, 0.9);
	border-radius:0;
}

select
{
	color: dimGray;
}

h1{
	color: #000;
	text-shadow: darkred 0 0 8px;
	text-align: center;
}

h2,h4{
	color: darkred;
	font-family:"sf-new-republic";
}

a:link {
    color: darkred;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkred;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: darkgreen;
    text-decoration: none;
}

/* selected link */
a:active {
    color: darkgreen;
    text-decoration: none;
}

a {
 cursor:pointer;
}

@media(max-width:767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: maroon;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #555;
		background-color: transparent;
	}
	article{
		padding-top:64px;
	}
}
@media(min-width:768px){
	article{
		padding-top:160px;
	}
	.navbar .navbar-nav{
	    float: none;
	    text-align: center;
	}
	.navbar .navbar-nav > li{
	    float: none;
	    display: inline-block;
	}
}
@media(min-width:992px){
	article{
		padding-top:192px;
	}
}
@media(min-width:1200px){
	article{
		padding-top:256px;
	}
}

/* Bootstrap Additions */

.navbar-center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.well-xs {
  padding: 3px;
}

/* Additions */

.preload img {
	opacity:0;
}

.margin{
	margin:2% 4%;
}

.center
{
	float: none;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.indent
{
	text-indent: 20px;
}

.justify
{
	text-align:justify;
}

.matisse{
	font-family:"matisse_itcregular";
}

.sf-new-republic{
	font-family:"sf-new-republic";
}