	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center well ">
					<p class="indent text-justify">
						Here you will find mods that will either help you in your quest
						or add features to The Ur-Quan Masters.
						The Ur-Quan Masters is a port of the classic PC/3DO game, Star Control II,
						which I guess is redundant because if you're here you already
						knew that. Although to learn more about The Ur-Quan Masters you can head over to
						<a href="//sc2.sourceforge.net/" target="_blank"><strong>The Ur-Quan Masters project page.</strong></a>
					</p>
				</div>
			</div>
		</div>
	</section>
