		<section id="FAQ" class="FAQ container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 well well-lg">
					<div class="panel-group" id="faqAccordion">
						<div class="panel panel-default ">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#install">
								<h4 class="panel-title">
									<a href="#install" class="ing">How do you install the mods?</a>
								</h4>

							</div>
							<div id="install" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<p class="indent justify">Well first you make a backup copy of your original .exe, which should be by default in your
										<code>C:\Program Files\The Ur-Quan Masters\</code> directory.
										The file mentioned is named <code>uqm.exe</code>, you can change the
										name to something else like <code>uqm-backup.exe</code> or
										<code>uqm-original.exe</code>. Don't worry if you can't see the
										<code>.exe</code> bit in the filename. By default that view is turned off.</p>
									<p class="indent justify">After you have completed the above you can UnZIP the mod you downloaded straight into the directory aformentionted,
										which again by default is <code>C:\Program Files\The Ur-Quan Masters\</code><br />
										When that is all done you can run the game.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>