		<section id="FAQ" class="FAQ container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 well well-lg">
					<div class="panel-group" id="faqAccordion">
						<div class="panel panel-inverse ">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#install">
								<h4 class="panel-title">How do you install the mods?</h4>
							</div>
							<div id="install" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<p class="indent justify">Well first you make a backup copy of your original .exe, which should be by default in your
										<code>C:\Program Files\The Ur-Quan Masters\</code> directory.
										The file mentioned is named <code>uqm.exe</code>, you can change the
										name to something else like <code>uqm-backup.exe</code> or
										<code>uqm-original.exe</code>. Don't worry if you can't see the
										<code>.exe</code> bit in the filename. By default that view is turned off.</p>
									<p class="indent justify">After you have completed the above you can UnZIP the mod you downloaded straight into the directory aformentionted,
										which again by default is <code>C:\Program Files\The Ur-Quan Masters\</code><br />
										When that is all done you can run the game.</p>
								</div>
							</div>
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#diff">
								<h4 class="panel-title">What the heck is a .diff?</h4>
							</div>
							<div id="diff" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<p class="indent justify">The .diff files are here only because I thought it would more efficient than to upload
										the entire source code for such relatively minor changes. These files should only be
										of use if you are planning to compile your own version of these mods or if you are
										cross compiling. To use these patch files on Windows you need to set up MinGW and MSYS,
										which is explained in the INSTALL.mingw file that comes with UQM's source code.</p>
									<p class="indent justify">Copy the releveant .diff file you want into the
										<code>/uqm-0.7.0/sc2</code> directory, open up a Terminal(MSYS for Windows users),
										<code>cd</code> into the directory where you placed the .diff and execute
										the command, <code>patch -p0 -i *.diff</code>. * Being the name of the .diff. <br />
										If all goes without a hitch you can begin compiling the source code.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>