				<div id="FAQ" class="col-md-8 col-md-offset-2 well well-xs">
					<div class="accordion">
						<div>
							<input id="install" name="install" type="checkbox" />
							<label for="install">How do you install the mods?</label>
							<section class="install">
								<p class="indent justify">Well first you make a backup copy of your original .exe, which should be by default in your
									<span>C:\Program Files\The Ur-Quan Masters\</span> directory.
									The file mentioned is named <span>uqm.exe</span>, you can change the
									name to something else like <span>uqm-backup.exe</span> or
									<span>uqm-original.exe</span>. Don't worry if you can't see the
									<span>.exe</span> bit in the filename. By default that view is turned off.</p>
								<p class="indent justify">After you have completed the above you can UnZIP the mod you downloaded straight into the directory aformentionted,
									which again by default is <span>C:\Program Files\The Ur-Quan Masters\</span><br />
									When that is all done you can run the game.</p>
							</section>
						</div>
						<div>
							<input id="diff" name="diff" type="checkbox" />
							<label for="diff">What the heck is a .diff?</label>
							<section class="diff">
								<p class="indent justify">The .diff files are here only because I thought it would more efficient than to upload
									the entire source code for such relatively minor changes. These files should only be
									of use if you are planning to compile your own version of these mods or if you are
									cross compiling. To use these patch files on Windows you need to set up MinGW and MSYS,
									which is explained in the INSTALL.mingw file that comes with UQM's source code.</p>
								<p class="indent justify">Copy the releveant .diff file you want into the
									<span>/uqm-0.7.0/sc2</span> directory, open up a Terminal(MSYS for Windows users),
									<span>cd</span> into the directory where you placed the .diff and execute
									the command, <span>patch -p0 -i *.diff</span>. * Being the name of the .diff. <br />
									If all goes without a hitch you can begin compiling the source code.</p>
							</section>
						</div>
						<div>
							<input id="vid" name="vid" type="checkbox" /> 
							<label for="vid">How do I install the 3DO videos?</label>
							<section class="vid">
								<p class="indent justify">To make things easier on the community I have made available all the videos to
									download in one handy .zip file. You can get this file on the <a href="./Downloads">Downloads</a> page.</p>
								<p class="justify">To use them just extract the folder from within the zip file to your
									<span>addons</span> directory. Which by default is <br /><br />
									<span>C:\Program Files\The Ur-Quan Masters\content\addons\</span><br />
									or <br />
									<span>C:\Program Files (x86)\The Ur-Quan Masters\content\addons\</span> in 64bit Windows<br /><br />
									After that you can just load up UQM and opt to use the 3DO videos instead of the PC slides.</p>
							</section>
						</div>
						<div>
							<input id="cheats" name="cheats" type="checkbox" /> 
							<label for="cheats">How do I use the Mega Mod cheats?</label>
							<section class="cheats">
								<p class="indent justify">
									You can use the cheats through commandline, batch file, in the uqm.cfg file, or in a shortcut. 
									Say you wanted to use a desktop shortcut, you would right-click the shortcut and go into its properties
									and add any cheat at the end of the "Target:". It should look like <a href="./img/landmarks/CheatMode.png" >this.</a>
								</p>
								<p class="indent justify">
									I would advise against using the uqm.cfg method simply because the cheats are off by default and if you were to change
									any settings while in UQM it would reset the uqm.cfg file. In other words, get the settings how you want them first before
									applying cheats.
								</p>
							</section>
						</div>
					</div>
				</div>
