		<section id="Features" class="Features container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well well-lg">
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#thraddash">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/thraddash.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">The Fate of the Thraddash</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#cheats">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/cheats.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">The Cheats</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#code">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/code.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">Code Changes</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<article class="modal fade" id="thraddash" tabindex="-1" role="dialog" aria-labelledby="thraddash" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">The Fate of the Thraddash</h4>
					</header>
					<div class="modal-body">
						<p class="indent text-justify">
						The Thraddash will survive the Ilwrath onslought <i>if</i> you are allied with them. So now you
						can rest easy knowing your Thraddash students will be relatively safe under your watchful eye.
						However, just like any war, there will be losses. Your students will incur a 25% reduction in 
						battle strength that is reflected on their Sphere of Influence.
						</p>
						<p class="indent text-justify">
						You must also keep in mind that the one thing the Thraddash absolutely can not tolerate is
						dishonesty. If you steal their Aqua Helix during the Ilwrath conflict your students will turn on you.
						All of the ships you built at the shipyard will defect back to the Thraddash fleet and your former
						students will incur a 100% loss in the battle against the Ilwrath.
						</p>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
		<article class="modal fade" id="cheats" tabindex="-1" role="dialog" aria-labelledby="cheats" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">The Cheats</h4>
					</header>
					<div class="modal-body">
						<p class="indent justify">
							The cheats are, for the most part, self-explanatory. But for posterity I will go through them one by one
							just to quell any confusion. For the list the titles will be the .cfg option and the commandline option 
							separated by a forward slash.
						</p>
						<div class="row">
							<div class="col-md-6">
								<dl>
									<dt>kohrStahp / --kohrstahp</dt>
									<dd>
										The Kohr-Ah will be frozen on the spot and will not move forward with the cleansing. This cheat 
										literally stops the Kohr-Ah in their tracks when activated.
									</dd>
									<dt>godMode / --godmode</dt>
									<dd>
										This is a lengthy one: This makes any ship you control indestructible, including the landers. 
										Also refills your ship's energy every time you fire either one of your weapons and allows your
										lander to land on spot<br />
										Here is a brief list of other things godMode does: 
											<li>Orz marines do not harm player</li>
											<li>Syreen song does not affect the player</li>
											<li>Melnorme confusion ray does not affect the player</li>
											<li>VUX limpets do nothing to the player</li>
											<li>Chmmr Avatar has 5 ZapSats instead of 3</li>
										This cheat only works against computer controlled opponents.
									</dd>
									<dt>timeDilation / --timedilation</dt>
									<dd>
										Slows down or speeds up the game clock depending on the option selected
											<li>0 = Normal game clock | IP = 30 seconds | HS = 5 seconds</li>
											<li>1 = Slow game clock | IP = 3 minutes | HS = 30 seconds</li>
											<li>2 = Fast game clock | IP = 5 seconds | HS = 1 second</li>
									</dd>
								</dl>
							</div>
							<div class="col-md-6">
								<dl>
									<dt>bubbleWarp / --bubblewarp</dt>
									<dd>
										Instantaneous travel to any point on the starmap.
									</dd>
									<dt>unlockShips / --unlockships</dt>
									<dd>
										Unlocks all the ships available in the main game for construction at the shipyard. Persists through game saves.
									</dd>
									<dt>headStart / --headstart</dt>
									<dd>
										Gives you all of the minerals in the Sol system, Fwiffo, and the Moonbase so you can skip the New Game slog.
									</dd>
									<dt>unlockUpgrades / --unlockupgrades</dt>
									<dd>
										Unlocks all of the Melnorme tech upgrades.
									</dd>
									<dt>infiniteRU / --infiniteRU</dt>
									<dd>
										Give you virtually infinite R.U. while the cheat is active. Does not persist through game saves.
									</dd>
									<dt>skipIntro / --skipintro</dt>
									<dd>
										Skips the Logo (if the FMV option is active) and the Intro
									</dd>
									<dt>FMV / --fmv</dt>
									<dd>
										Enables the pre-Splash Screen, Crystal Dynamics logo and the 3DO commercial when using the 3DO videos.
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
		<article class="modal fade" id="code" tabindex="-1" role="dialog" aria-labelledby="code" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Code Changes</h4>
					</header>
					<div class="modal-body">
						<p class="indent text-justify">
							This will be an unordered list of changes made to the code, major or minor, that hasn't already been mentioned and 
							affects the game in any way. Some of these changes were not made by me but by <a href="">Matthew Bentley</a> and those changes
							will be pointed out by either his full name or his initials.
						</p>
						<ul>
							<li>Optional content auto-load support added:
								<ul>
									<li>Soul Reaver's Mycon dialog fix (Classic Only)</li>
									<li>Soul Reaver's Melnorme dialog pack</li>
									<li>Matt Bentley's Utwig dialog fix</li>
									<li>Matt Bentley's Shofixti audio normalization</li>
									<li>Sero Menu for 1x, ship labels for all of ships in the shipyard</li>
									<li>
										Matt Bentley's subtitle fixes for Mycon, Pkunk, Spathiwa Safe Ones, Slylandro, Starbase Commander, Talking Pet, Utwig, and Vux
									</li>
								</ul>
							</li>
							<li>Code to circumvent overflows by using temp variables - MB</li>
							<li>Code to prevent flagship status box turning grey</li>
							<li>Slight acceleration to the starmap cursor - MB</li>
							<li>Updated menu delay values so it no longer takes an age to, fill up your fuel tanks, fill up your crew, and search through your saved games. - MB</li>
							<li>The Thraddash can now survive their war with the Ilwrath, outlined in, "The Fate of the Thraddash"</li>
							<li>You can now ask the Commander about the Ur-Quan when talking about races</li>
							<li>Better Yehat Rebels animation timing - MB</li>
							<li>Bugfix for the Arilou to reduce the odds of telporting into the Sa-Matra - MB</li>
							<li>Vux Limpet can incapacitate the Sa-Matra - MB</li>
							<li>Added in the option to enable all of the 3DO videos (FMV Mod)</li>
							<li>Backported the Cheat Mode code to UQM Classic</li>
							<li>Increased the maximum amount of saved games one could have up to 100</li>
							<li>Arilou have a 5% chance of appearing in a star system in their SOI</li>
							<li>Heap size has been changed back to 10kb for Classic and up to 32kb for HD</li>
							<li>All Spathi ships retreat when they put themselves under a Slave Shield</li>
							<li>Bump the version up to 0.7.3</li>
							<li>The commandline, .cfg file, and new Setup Menu cheat system</li>
							<h4> HD Only </h4>
							<li>Optional content auto-load support added:
								<ul>									
									<li>Matt Bentley's extra nebulae: 22 with the content, 17 without</li>
									<li>Matt Bentley's HD ship info screens</li>
									<li>Soul Reaver's Syreen Video fix</li>
									<li>My own fix for the Vux comm screen in low-res</li>
									<li>Sero Menu, a new menu made by me with the help of darklord42</li>
								</ul>
							</li>
							<li>Fixed cursor snap so that trying to pick Sol no longer selects Sirius unless you zoom in. - MB</li>
							<li>Better Yehat Rebels animation timing for 1x, 2x, and 4x resolutions - MB</li>
							<li>Fix for 16:10 and 5:4 resolution - MB</li>
							<li>The 3DO videos are centered when using higher resolutions - MB</li>
							<li>A patch to remove the U.S. dollar signs from Orz dialogue when viewing the summary - MB</li>
							<li>Upgraded lander speed fixed for 1280x720</li>
							<li>Cursor snap intensity reduced - MB</li>
							<li>A fix for the planet texture and sun corona, "pop-in" - MB</li>
							<li>Correction to the number of nebulae and removing nebula from some star systems - MB</li>
							<li>Some code to handle the, 'ä' and, 'ö' umlaut characters - MB</li>
						</ul>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
