		<section id="Features" class="Features container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well well-lg">
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#thraddash">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/thraddash.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">The Fate of the Thraddash</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#cheats">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/cheats.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">The Cheats</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-card" data-toggle="modal" data-target="#code">
								<div class="panel-body">
									<img class="img-responsive" src="/img/landmarks/panels/code.png">
								</div>
								<div class="panel-footer collapsed">
									<h4 class="panel-title">Code Changes</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<article class="modal fade" id="thraddash" tabindex="-1" role="dialog" aria-labelledby="thraddash" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">The Fate of the Thraddash</h4>
					</header>
					<div class="modal-body">
						<p class="indent text-justify">
						The Thraddash will survive the Ilwrath onslought <i>if</i> you are allied with them. So now you
						can rest easy knowing your Thraddash students will be relatively safe under your watchful eye.
						However, just like any war, there will be losses. Your students will incur a 25% reduction in 
						battle strength that is reflected on their Sphere of Influence.
						</p>
						<p class="indent text-justify">
						You must also keep in mind that the one thing the Thraddash absolutely can not tolerate is
						dishonesty. If you steal their Aqua Helix during the Ilwrath conflict your students will turn on you.
						All of the ships you built at the shipyard will defect back to the Thraddash fleet and your former
						students will incur a 100% loss in the battle against the Ilwrath.
						</p>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
		<article class="modal fade" id="cheats" tabindex="-1" role="dialog" aria-labelledby="cheats" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">The Cheats</h4>
					</header>
					<div class="modal-body">
						<p class="indent justify">
							These are all the extra options I put into the game from cosmetic changes to cheats and even to alternate storylines.<br />
							All of these extra options have a CLI trigger as well. Run the app with -? for more info.
						</p>
						<div class="panel-group">
							<div class="panel panel-uqm ">
								<div class="panel-heading collapsed" data-toggle="collapse" data-target="#XtraOptions">
									<h4 class="panel-title">Extra Options</h4>
								</div>
								<div id="XtraOptions" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6">
												<dl>
													<dt>Skip Intro</dt>
													<dd>
														Skips the Logo (if the Extra Cutscene option is active) and the Intro
													</dd>
													<dt>Extra Cutscenes</dt>
													<dd>
														Enables the Crystal Dynamics logo and the 3DO commercial when using the 3DO videos.
													</dd>
													<dt>Show Nebulae</dt>
													<dd>
														When enabled will show nebulae in interplanetary.
													</dd>
													<dt>Orbiting Planets</dt>
													<dd>
														Planets will orbit their respective star and moons will orbit their respective planet.
													</dd>
													<dt>Textured Planets</dt>
													<dd>
														Shows textured planets in interplanetary.
													</dd>
												</dl>
											</div>
											<div class="col-md-6">
												<dl>
													<dt>Alt Thraddash Story</dt>
													<dd>
														Enables/Disables The Fate of the Thraddash storyline which is explained on this page.
													</dd>
													<dt>Partial Mineral Pickup</dt>
													<dd>
														Allows you to pick up minerals partially if the mineral is bigger than the remaining size of your lander hold.
														Leaving the rest of the mineral on the surface for you to pick up later.
													</dd>
													<dt>Submenu</dt>
													<dd>
														Shows mineral values while using the lander and showsstar map keys while looking at the star map.
													</dd>
													<dt>Date Format</dt>
													<dd>
														Has four options which changes the way the date is displayed.
															<li>Original: MMM DD.YYYY (FEB 17.2155)</li>
															<li>MM.DD.YYYY (02.17.2155)</li>
															<li>DD MMM.YYYY (17 FEB.2155)</li>
															<li>DD.MM.YYYY (17.02.2155)</li>
													</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-uqm ">
								<div class="panel-heading collapsed" data-toggle="collapse" data-target="#TheCheats">
									<h4 class="panel-title">The Cheats</h4>
								</div>
								<div id="TheCheats" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6">
												<dl>
													<dt>Kohr Stahp</dt>
													<dd>
														The Kohr-Ah will be frozen on the spot and will not move forward with the cleansing. This cheat 
														literally stops the Kohr-Ah in their tracks when activated.
													</dd>
													<dt>God Mode</dt>
													<dd>
														This is a lengthy one: This makes any ship you control indestructible, including the landers. 
														Also refills your ship's energy every time you fire either one of your weapons and allows your
														lander to precisely land where you select.<br />
														Here is a brief list of other things godMode does: 
															<li>Orz marines do not harm player</li>
															<li>Syreen song does not affect the player</li>
															<li>Melnorme confusion ray does not affect the player</li>
															<li>VUX limpets do nothing to the player</li>
															<li>Chmmr Avatar has 5 ZapSats instead of 3</li>
														This cheat only works against computer controlled opponents.
													</dd>
													<dt>Time Dilation</dt>
													<dd>
														Slows down or speeds up the game clock depending on the option selected
															<li>0 = Normal game clock | IP = 30 seconds | HS = 5 seconds</li>
															<li>1 = Slow game clock | IP = 3 minutes | HS = 30 seconds</li>
															<li>2 = Fast game clock | IP = 5 seconds | HS = 1 second</li>
													</dd>
												</dl>
											</div>
											<div class="col-md-6">
												<dl>
													<dt>Bubble Warp</dt>
													<dd>
														Instantaneous travel to any point on the starmap. Uses up fuel.
													</dd>
													<dt>Unlock Ships</dt>
													<dd>
														Unlocks all the ships available in the main game for construction at the shipyard. Persists through game saves.
													</dd>
													<dt>Head Start</dt>
													<dd>
														Gives you all of the minerals in the Sol system, Fwiffo, and the Moonbase so you can skip the New Game slog.
													</dd>
													<dt>Unlock Upgrades</dt>
													<dd>
														Unlocks all of the Melnorme tech upgrades.
													</dd>
													<dt>Infinite RU</dt>
													<dd>
														Give you virtually infinite R.U. while the cheat is active. Does not persist through game saves.
													</dd>
													<dt>Infinite Fuel</dt>
													<dd>
														Does what it says on the tin. Fuel is no object, you'll have an infinity symbol where the fuel counter is. If
														you try to save the game with the cheat enabled it will save with the amount of fuel you had from the loaded save
														and if you save from a new game it will save with only 10 units of fuel.
													</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
		<article class="modal fade" id="code" tabindex="-1" role="dialog" aria-labelledby="code" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Code Changes</h4>
					</header>
					<div class="modal-body">
						<p class="indent text-justify">
							This will be an unordered list of changes made to the code, major or minor, that hasn't already been mentioned and 
							affects the game in any way. Some of these changes were not made by me but by <a href="">Matthew Bentley</a> and those changes
							will be pointed out by either his full name or his initials.
						</p>
						<div class="panel-group">
							<div class="panel panel-uqm ">
								<div class="panel-heading collapsed" data-toggle="collapse" data-target="#v080">
									<h4 class="panel-title">0.8.0</h4>
								</div>
								<div id="v080" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6">
												<ul>
													<li>Optional content auto-load support added:
														<ul>
															<li>Sero Nebulae: 44 brand new nebulae for interplanetary.</li>
															<li>Sol textures taken from HD for use in interplanetary</li>
															<li>Soul Reaver's Mycon dialog fix</li>
															<li>Soul Reaver's Melnorme dialog pack</li>
															<li>Matt Bentley's Utwig dialog fix</li>
															<li>Matt Bentley's Shofixti audio normalization</li>
															<li>
																Matt Bentley's subtitle fixes for Mycon, Pkunk, Spathiwa Safe Ones, Slylandro, Starbase Commander, Talking Pet, Utwig, and Vux
															</li>
														</ul>
													</li>
													<li>Built upon the official UQM 0.8.0 SVN</li>
													<li>New, more readable options menu</li>
													<li>SC1 Era star map and constellation view - JMS</li>
													<li>Extra cutscenes: Crystal Dynamics logo and 3DO commercial</li>
													<li>Optional: The Fate of the Thraddash is disabled by default</li>
													<li>Max saved games is 100</li>
													<li>Name your captain and ship at the start of a new game - JMS</li>
													<li>No random Ur-Quan or Kohr-Ah at the Zoq-Fot home system - Nic/JMS</li>
													<li>When leaving a system the ship will point the proper direction in HS - JMS</li>
													<li>Optional: Sol textures in interplanetary - JMS</li>
													<li>Optional: Submenu for mineral values and star map keys - JMS</li>
													<li>Optional: Orbiting planets in interplanetary - JMS</li>
													<li>Optional: Textured planets in interplanetary - JMS</li>
													<li>Optional: Pickup mineral partially if the size of the mineral is too big for the lander hold - JMS</li>
													<li>Optional: Date format can be changed into one of four options in response to <a href="https://bugs.uqm.stack.nl/show_bug.cgi?id=869">Bug #869</a> - Nic
														<ul>
																<li>Original: MMM DD.YYYY (FEB 17.2155)</li>
																<li>MM.DD.YYYY (02.17.2155)</li>
																<li>DD MMM.YYYY (17 FEB.2155)</li>
																<li>DD.MM.YYYY (17.02.2155)</li>
														</ul>
													</li>
												</ul>
											</div>
											<div class="col-md-6">
												<ul>
													<li>NPC ships face the direction they're traveling - JMS</li>
													<li>Lifeform name and amount is shown upon pickup of biodata cannister - Nic</li>
													<li>The Moon tractors blow up when shot - JMS/Nic</li>
													<li>SC2-DOS style lightning fade effects - Nic</li>
													<li>Lander hold expanded to 64 from 50 to match the PC version using the patch from <a href="https://bugs.uqm.stack.nl/show_bug.cgi?id=411">Bug #411</a></li>
													<li>With textured planets enabled slave shielded planets give off more glow while viewing them away from orbit</li>
													<li>Slave shield pulse slowed down</li>
													<li>Point of no return fuel circle on star map - JMS</li>
													<li>Bubble Warp now has its trademark sound effect from SC3</li>
													<li>Bubble Warp now costs the proper amount of fuel for traveling and will not let you select anything outside of your fuel radius</li>
													<li>Optional: 44 new nebulae can be displayed in interplanetary</li>
													<li>5% chance of encountering Arilou NPC ships in interplanetary around Gamma Circini</li>
													<li>Syreen have a sphere of influence that tracs to Organon for the ambush. Just for show - Nic</li>
													<li>Chmmr have a sphere of incluence after finishing "The Process", also just for show - Nic</li>
													<li>Optional: Main menu music by Saibuster</li>
													<li>Changed resolution picker to have 960x720 and 1280x960.</li>
													<li>Bugfix for the Arilou to reduce the odds of telporting into the Sa-Matra - JMS</li>
													<li>If you venture out into Hyperspace without rescuing the starbase first, the Probes you encounter are much tougher - Nic</li>
													<li>Vux Limpet can incapacitate the Sa-Matra - JMS</li>
													<li>Page Up/Page Down can be used to give or take 10 crew in the shipyard and roster menu - Nic</li>
													<li>Code to prevent flagship status box turning grey - JMS</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-uqm ">
								<div class="panel-heading collapsed" data-toggle="collapse" data-target="#vHD">
									<h4 class="panel-title">HD</h4>
								</div>
								<div id="vHD" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li>Optional content auto-load support added:
												<ul>
													<li>Matt Bentley's extra nebulae: 22 with the content, 17 without</li>
													<li>Matt Bentley's HD ship info screens</li>
													<li>Matt Bentley's Shofixti audio normalization</li>
													<li>
														Matt Bentley's subtitle fixes for Mycon, Pkunk, Spathiwa Safe Ones, Slylandro, Starbase Commander, Talking Pet, Utwig, and Vux
													</li>
													<li>Soul Reaver's Melnorme dialog pack</li>
													<li>Soul Reaver's Syreen Video fix</li>
													<li>Matt Bentley's Utwig dialog fix</li>
													<li>My own fix for the Vux comm screen in low-res</li>
													<li>Sero Menu, a new menu made by me with the help of darklord42</li>
												</ul>
											</li>
											<li>Fixed cursor snap so that trying to pick Sol no longer selects Sirius unless you zoom in. - MB</li>
											<li>Better Yehat Rebels animation timing for 1x, 2x, and 4x resolutions - MB</li>
											<li>Fix for 16:10 and 5:4 resolution - MB</li>
											<li>The 3DO videos are centered when using higher resolutions - MB</li>
											<li>A patch to remove the U.S. dollar signs from Orz dialogue when viewing the summary - MB</li>
											<li>Upgraded lander speed fixed for 1280x720</li>
											<li>Cursor snap intensity reduced - MB</li>
											<li>A fix for the planet texture and sun corona, "pop-in" - MB</li>
											<li>Correction to the number of nebulae and removing nebula from some star systems - MB</li>
											<li>Some code to handle the, 'ä' and, 'ö' umlaut characters - JMS</li>
											<li>Code to circumvent overflows by using temp variables - JMS</li>
											<li>Code to prevent flagship status box turning grey</li>
											<li>Slight acceleration to the starmap cursor - MB</li>
											<li>Updated menu delay values so it no longer takes an age to, fill up your fuel tanks, fill up your crew, and search through your saved games. - MB</li>
											<li>The Thraddash can now survive their war with the Ilwrath, outlined in, "The Fate of the Thraddash"</li>
											<li>You can now ask the Commander about the Ur-Quan when talking about races</li>
											<li>Better Yehat Rebels animation timing - MB</li>
											<li>Bugfix for the Arilou to reduce the odds of telporting into the Sa-Matra - JMS</li>
											<li>Vux Limpet can incapacitate the Sa-Matra - JMS</li>
											<li>Added in the option to enable all of the 3DO videos (FMV Mod)</li>
											<li>Increased the maximum amount of saved games one could have up to 100</li>
											<li>Arilou have a 5% chance of appearing in a star system in their SOI</li>
											<li>Heap size has been changed back to 10kb for Classic and up to 32kb for HD</li>
											<li>All Spathi ships retreat when they put themselves under a Slave Shield</li>
											<li>Bump the version up to 0.7.3</li>
											<li>The commandline, .cfg file, and new Setup Menu cheat system</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-uqm" data-dismiss="modal">Close</button>
					</footer>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
