		<footer class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header hidden-xs">
					<a class="navbar-brand" href="./hunams.txt" target="_blank">
						<span class="matisse">The BonePit</span></a>
				</div>
				<div class="navbar-header navbar-right dropup">
					<a class="navbar-brand" href="music/Kohr-Ah.mp3" title="Download the Kohr-Ah remaster" download>
						<span class="glyphicon glyphicon-floppy-save"></span></a>
					<a class="navbar-brand dropdown-toggle" type="button" id="music-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Music Controls">
						<span class="glyphicon glyphicon-option-vertical"></span></a>
					<ul class="dropdown-menu menu-transparent">
						<li>
							<audio type="audio/mpeg" src="music/Kohr-Ah.mp3" preload="auto" autoplay controls />
						</li>
					</ul>
				</div>
			</div>
		</footer>