---
redirect_to: "http://uqm-mods.sf.net"
---	
	<head>
		<title>The BonePit</title>
		<meta http-equiv="Refresh" content="0; url=http://uqm-mods.sf.net" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="UQM-Mods: Cheat to your hearts content, reactivate options removed for the port, and listen to updated remasters of a few themes" />
		<meta name="author" content="Serosis">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="css/theme.css" />
		<link rel="stylesheet" type="text/css" href="css/backgrounds.css" />
		<link rel="stylesheet" type="text/css" href="css/mediaswipe.css" />
		<link rel="stylesheet" type="text/css" href="css/overrides.css" />

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="img/landmarks/ico/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/landmarks/ico/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="img/landmarks/ico/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="img/landmarks/ico/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="img/landmarks/ico/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="img/landmarks/ico/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="img/landmarks/ico/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="img/landmarks/ico/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="img/landmarks/ico/apple-touch-icon-152x152.png" />
	</head>
