		<section id="Home" class="Home coontainer-fluid">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-10 col-lg-offset-1 text-center">
					<h1><span class="sf-new-republic">Welcome to</span> <span class="matisse">The BonePit</span></h1> <hr>
					<p>Home of the MegaMod</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-lg-offset-1 well well-lg">
					<p class="indent text-justify">
						Here you will find mods that will either help you in your quest
						or add features to The Ur-Quan Masters.
						The Ur-Quan Masters is a port of the classic PC/3DO game, Star Control II,
						which I guess is redundant because if you're here you already
						knew that. Although to learn more about The Ur-Quan Masters you can head over to
						<a href="//sc2.sourceforge.net/" target="_blank"><strong>The Ur-Quan Masters project page.</strong></a>
					</p>
				</div>
			</div>
		</section>
