		<section id="Music" class="Music">
			<div class="overlay"></div> 
			<div class="row">
				<div id="playlist" class="col-md-6 col-md-offset-3 well well-lg center">
					<a id="tracks" class="inline mgallery" href="music/Arilou.mp3" title="Arilou">
						<img src="img/landmarks/backgrounds/Arilou.gif" class="img-responsive" alt="Arilou"></a>
					<a id="tracks" class="inline mgallery" href="music/Chmmr.mp3" title="Chmmr">
						<img src="img/landmarks/backgrounds/Chmmr.gif" class="img-responsive" alt="Chmmr"></a>
					<a id="tracks" class="inline mgallery" href="music/Commander.mp3" title="Commander">
						<img src="img/landmarks/backgrounds/Commander.gif" class="img-responsive" alt="Commander"></a>
					<a id="tracks" class="inline mgallery" href="music/Daktaklakpak.mp3" title="Daktaklakpak">
						<img src="img/landmarks/backgrounds/Daktaklakpak.gif" class="img-responsive" alt="Daktaklakpak"></a>
					<a id="tracks" class="inline mgallery" href="music/Druuge.mp3" title="Druuge">
						<img src="img/landmarks/backgrounds/Druuge.gif" class="img-responsive" alt="Druuge"></a>
					<a id="tracks" class="inline mgallery" href="music/Hyperspace.mp3" title="Hyperspace">
						<img src="img/landmarks/backgrounds/Hyperspace.gif" class="img-responsive" alt="Hyperspace"></a>
					<a id="tracks" class="inline mgallery" href="music/Ilwrath.mp3" title="Ilwrath">
						<img src="img/landmarks/backgrounds/Ilwrath.gif" class="img-responsive" alt="Ilwrath"></a>
					<a id="tracks" class="inline mgallery" href="music/Kohr-Ah.mp3" title="Kohr-Ah">
						<img src="img/landmarks/backgrounds/Kohr-Ah.gif" class="img-responsive" alt="Kohr-Ah"></a>
					<a id="tracks" class="inline mgallery" href="music/Kzer-Za.mp3" title="Kzer-Za">
						<img src="img/landmarks/backgrounds/Kzer-Za.gif" class="img-responsive" alt="Kzer-Za"></a>
					<a id="tracks" class="inline mgallery" href="music/Mycon.mp3" title="Mycon">
						<img src="img/landmarks/backgrounds/Mycon.gif" class="img-responsive" alt="Mycon"></a>
					<a id="tracks" class="inline mgallery" href="music/Melnorme.mp3" title="Melnorme">
						<img src="img/landmarks/backgrounds/Melnorme.gif" class="img-responsive" alt="Melnorme"></a>
					<a id="tracks" class="inline mgallery" href="music/Orbit.mp3" title="Orbit">
						<img src="img/landmarks/backgrounds/Orbit/Eta Vulpeculae II.gif" class="img-responsive" alt="Orbit"></a>
					<a id="tracks" class="inline mgallery" href="music/Quasispace.mp3" title="Quasispace">
						<img src="img/landmarks/backgrounds/Quasispace.gif" class="img-responsive" alt="Quasispace"></a>
					<a id="tracks" class="inline mgallery" href="music/Shipyard.mp3" title="Shipyard">
						<img src="img/landmarks/backgrounds/Shipyard.gif" class="img-responsive" alt="Shipyard"></a>
					<a id="tracks" class="inline mgallery" href="music/Shofixti.mp3" title="Shofixti">
						<img src="img/landmarks/backgrounds/Shofixti.gif" class="img-responsive" alt="Shofixti"></a>
					<a id="tracks" class="inline mgallery" href="music/Starbase.mp3" title="Starbase">
						<img src="img/landmarks/backgrounds/Starbase.gif" class="img-responsive" alt="Starbase"></a>
					<a id="tracks" class="inline mgallery" href="music/Supox.mp3" title="Supox">
						<img src="img/landmarks/backgrounds/Supox.gif" class="img-responsive" alt="Supox"></a>
					<a id="tracks" class="inline mgallery" href="music/Syreen.mp3" title="Syreen">
						<img src="img/landmarks/backgrounds/Syreen.gif" class="img-responsive" alt="Syreen"></a>
					<a id="tracks" class="inline mgallery" href="music/Thraddash.mp3" title="Thraddash">
						<img src="img/landmarks/backgrounds/Thraddash.gif" class="img-responsive" alt="Thraddash"></a>
					<a id="tracks" class="inline mgallery" href="music/Utwig.mp3" title="Utwig">
						<img src="img/landmarks/backgrounds/Utwig.gif" class="img-responsive" alt="Utwig"></a>
					<a id="tracks" class="inline mgallery" href="music/VUX.mp3" title="VUX">
						<img src="img/landmarks/backgrounds/VUX.gif" class="img-responsive" alt="VUX"></a>
					<a id="tracks" class="inline mgallery" href="music/Yehat.mp3" title="Yehat">
						<img src="img/landmarks/backgrounds/Yehat.gif" class="img-responsive" alt="Yehat"></a>
				</div>
			</div>
		</section>
