		<section id="Music" class="Music">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well well-xs center">
					<a class="inline mgallery" onclick="loadSong(Arilou)" title="Arilou">
						<img src="img/landmarks/backgrounds/Arilou.gif" class="img-responsive" alt="Arilou"></a>
					<a class="inline mgallery" onclick="loadSong(Chmmr)" title="Chmmr">
						<img src="img/landmarks/backgrounds/Chmmr.gif" class="img-responsive" alt="Chmmr"></a>
					<a class="inline mgallery" onclick="loadSong(Commander)" title="Commander">
						<img src="img/landmarks/backgrounds/Commander.gif" class="img-responsive" alt="Commander"></a>
					<a class="inline mgallery" onclick="loadSong(Daktaklakpak)" title="Daktaklakpak">
						<img src="img/landmarks/backgrounds/Daktaklakpak.gif)" class="img-responsive" alt="Daktaklakpak"></a>
					<a class="inline mgallery" onclick="loadSong(Druuge)" title="Druuge">
						<img src="img/landmarks/backgrounds/Druuge.gif" class="img-responsive" alt="Druuge"></a>
					<a class="inline mgallery" onclick="loadSong(Hyperspace)" title="Hyperspace">
						<img src="img/landmarks/backgrounds/Hyperspace.gif" class="img-responsive" alt="Hyperspace"></a>
					<a class="inline mgallery" onclick="loadSong(Ilwrath)" title="Ilwrath">
						<img src="img/landmarks/backgrounds/Ilwrath.gif" class="img-responsive" alt="Ilwrath"></a>
					<a class="inline mgallery" onclick="loadSong(Kohr-Ah)" title="Kohr-Ah">
						<img src="img/landmarks/backgrounds/Kohr-Ah.gif" class="img-responsive" alt="Kohr-Ah"></a>
					<a class="inline mgallery" onclick="loadSong(Kzer-Za)" title="Kzer-Za">
						<img src="img/landmarks/backgrounds/Kzer-Za.gif" class="img-responsive" alt="Kzer-Za"></a>
					<a class="inline mgallery" onclick="loadSong(Mycon)" title="Mycon">
						<img src="img/landmarks/backgrounds/Mycon.gif" class="img-responsive" alt="Mycon"></a>
					<a class="inline mgallery" onclick="loadSong(Melnorme)" title="Melnorme">
						<img src="img/landmarks/backgrounds/Melnorme.gif" class="img-responsive" alt="Melnorme"></a>
					<a class="inline mgallery" onclick="loadSong(Orbit)" title="Orbit">
						<img src="img/landmarks/backgrounds/Orbit/Eta Vulpeculae II.gif" class="img-responsive" alt="Orbit"></a>
					<a class="inline mgallery" onclick="loadSong(Quasispace)" title="Quasispace">
						<img src="img/landmarks/backgrounds/Quasispace.gif" class="img-responsive" alt="Quasispace"></a>
					<a class="inline mgallery" onclick="loadSong(Shipyard)" title="Shipyard">
						<img src="img/landmarks/backgrounds/Shipyard.gif)" class="img-responsive" alt="Shipyard"></a>
					<a class="inline mgallery" onclick="loadSong(Shofixti)" title="Shofixti">
						<img src="img/landmarks/backgrounds/Shofixti.gif" class="img-responsive" alt="Shofixti"></a>
					<a class="inline mgallery" onclick="loadSong(Starbase)" title="Starbase">
						<img src="img/landmarks/backgrounds/Starbase.gif" class="img-responsive" alt="Starbase"></a>
					<a class="inline mgallery" onclick="loadSong(Supox)" title="Supox">
						<img src="img/landmarks/backgrounds/Supox.gif" class="img-responsive" alt="Supox"></a>
					<a class="inline mgallery" onclick="loadSong(Syreen)" title="Syreen">
						<img src="img/landmarks/backgrounds/Syreen.gif" class="img-responsive" alt="Syreen"></a>
					<a class="inline mgallery" onclick="loadSong(Thraddash)" title="Thraddash">
						<img src="img/landmarks/backgrounds/Thraddash.gif" class="img-responsive" alt="Thraddash"></a>
					<a class="inline mgallery" onclick="loadSong(Utwig)" title="Utwig">
						<img src="img/landmarks/backgrounds/Utwig.gif" class="img-responsive" alt="Utwig"></a>
					<a class="inline mgallery" onclick="loadSong(VUX)" title="VUX">
						<img src="img/landmarks/backgrounds/VUX.gif" class="img-responsive" alt="VUX"></a>
					<a class="inline mgallery" onclick="loadSong(Yehat)" title="Yehat">
						<img src="img/landmarks/backgrounds/Yehat.gif" class="img-responsive" alt="Yehat"></a>
				</div>
			</div>
		</section>