        <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./hunams.txt" target="_blank">
                                <span class="matisse">The BonePit</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-left dropdown">
                    <a class="navbar-brand" href="music/Kohr-Ah.mp3" title="Download the Kohr-Ah remaster" download>
                        <span class="glyphicon glyphicon-floppy-save"></span></a>
                    <a class="navbar-brand dropdown-toggle" type="button" id="music-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Music Controls">
                        <span class="glyphicon glyphicon-option-vertical"></span></a>
                    <ul class="dropdown-menu menu-transparent">
                        <li>
                            <audio type="audio/mpeg" src="music/Kohr-Ah.mp3" preload="auto" autoplay controls />
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
