		<section id="Releases" class="Releases">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well">
					<div>
						<label>Mega Mod</label>
						<div>
							<p class="indent justify">
								The Mega Mod is all my mods rolled into one, Time Dilation, FMV/3DO, and UQM-HD's Death March Cheat Mode. 
								Also included are a few cheats to have some fun with which are explained in the CheatList file.
							</p>
							<span>Available Releases: </span><br />
							<ul>
								<a target="_blank" href="//github.com/Serosis/UQM-MegaMod/releases"><li>UQM-HD & Classic (Windows)</li></a>
								<a target="_blank" href="//github.com/Serosis/UQM-MegaMod/blob/master/HD/uqm-0.7.2-HD-MegaMod.diff"><li>Unified .diff for UQM-HD</li></a>
								<a target="_blank" href="//github.com/Serosis/UQM-MegaMod/blob/master/Classic/uqm-0.7.2-GCC-MegaMod.diff"><li>Unified .diff for building Classic UQM in GCC</li></a>
								<a target="_blank" href="//github.com/Serosis/UQM-MegaMod/blob/master/Classic/uqm-0.7.2-VC10-MegaMod.diff"><li>Unified .diff for building Classic UQM in VC10</li></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>