		<article id="Releases" class="container">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 well well-xs">
					<div class="accordion">
						<div>
							<input id="megamod" name="megamod" type="checkbox" />
							<label for="megamod">Mega Mod</label>
							<section class="megamod">
								<p class="indent justify">
									The Mega Mod is all my mods rolled into one, Time Dilation, FMV/3DO, and UQM-HD's Death March Cheat Mode. 
									Also included are a few cheats to have some fun with which are explained in the CheatList file.
								</p>
								<span>Available Downloads: </span><br />
								<ul>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Mega%20Mod/0.7.X/uqm-0.7.2-HD-MegaMod.zip/download"><li>UQM-HD (Windows)</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Mega%20Mod/0.7.X/uqm-0.7.2-MegaMod.zip/download"><li>UQM Classic (Windows)</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Mega%20Mod/0.7.X/uqm-0.7.2-HD-MegaMod.diff/download"><li>Unified .diff for UQM-HD</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Mega%20Mod/0.7.X/uqm-0.7.2-GCC-MegaMod.diff/download"><li>Unified .diff for building Classic UQM in GCC</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Mega%20Mod/0.7.X/uqm-0.7.2-VC10-MegaMod.diff/download"><li>Unified .diff for building Classic UQM in VC10</li></a>
								</ul>
							</section>
						</div>
<!--
						<div>
							<input id="dcm" name="dcm" type="checkbox" />
							<label for="dcm">The De-Cleansing Mod</label>
							<section class="dcm">	
								<p class="indent justify">The De-Cleansing Mod pushes the Kohr-Ah "cleansing" event 200 years
									forward so you have plenty of time to clean out every star system of either
									resources or foes.</p>
								<span>Available Downloads: </span><br />
								<ul>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/De-Cleansing%20Mod/0.7.0/uqm-0.7.0-dcm.zip/download"><li>Windows</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/De-Cleansing%20Mod/0.7.0/uqm-0.7.0-dcm.diff/download"><li>Unified .diff</li></a>
								</ul>
							</section>
						</div>
-->
						<div>
							<input id="vids" name="vids" type="checkbox" />
							<label for="vids">3DO Videos</label>
							<section class="vids">	
								<p class="indent justify">A collection of all the videos from the 3DO release of Star Control II which include:
									The Crystal Dynamics Logo, Ship Descriptions, Intro, Ending, and the
									"Demo FMV" which is a 3DO commercial that is activated when you sit
									on the main menu for 20 seconds.</p>
								<span>Available Downloads: </span><br />
								<ul>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Misc/uqm-0.7.0-3dovideo.zip/download"><li>Videos</li></a>
								</ul>
								<p class="justify">A small tutorial on how to install these videos is provided in the <a href="./FAQ">F.A.Q.</a></p>
							</section>
						</div>

						<div>
							<input id="comm" name="comm" type="checkbox" />
							<label for="comm">Comm ReMasters</label>
							<section class="comm">	
								<p class="justify">A few themes that I've remastered.</p>
								<span>Available Downloads: </span><br />
								<ul>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/arilou.ogg/download"><li>Arilou</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/chmmr.ogg/download"><li>Chmmr</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/commander.ogg/download"><li>Commander</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/daktaklakpak.ogg/download"><li>Daktaklakpak</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/druuge.ogg/download"><li>Druuge</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/hyperspace.ogg/download"><li>Hyperspace</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/ilwrath.ogg/download"><li>Ilwrath</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/kohrah.ogg/download"><li>Kohr-Ah</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/kzerza.ogg/download"><li>Kzer-Za</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/mycon.ogg/download"><li>Mycon</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/melnorme.ogg/download"><li>Melnorme</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/orbit.ogg/download"><li>Orbit</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/quasispace.ogg/download"><li>Quasispace</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/shipyard.ogg/download"><li>Shipyard</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/shofixti.ogg/download"><li>Shofixti</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/starbase.ogg/download"><li>Starbase</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/supox.ogg/download"><li>Supox</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/syreen.ogg/download"><li>Syreen</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/thraddash.ogg/download"><li>Thraddash</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/utwig.ogg/download"><li>Utwig</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/vux.ogg/download"><li>VUX</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Comm%20ReMasters/yehat.ogg/download"><li>Yehat</li></a>
								</ul>
							</section>
						</div>

						<div>
							<input id="misc" name="misc" type="checkbox" />
							<label for="misc">Miscellaneous</label>
							<section class="misc">	
								<p class="justify">Just a couple of things that can not be categorized.</p>
								<span>Available Downloads: </span><br />
								<ul>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Misc/Ditties4Droid.zip/download"><li>Ditties for Android</li></a>
									<a target="_blank" href="//sourceforge.net/projects/uqm-mods/files/Misc/JP-3DO.zip/download"><li>Japanese 3DO Voices</li></a>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</article>