		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
		<script src="js/swipebox.js" defer></script>

		<script src="js/jquery.easing.min.js"></script>

		<script>		
			$(document).ready(function(){
				$('audio').prop("volume", 0.4);
				$('.swipebox').swipebox();
			});
			(function($) {
				"use strict"; // Start of use strict

				// jQuery for page scrolling feature - requires jQuery Easing plugin
				$('a.page-scroll').bind('click', function(event) {
					var $anchor = $(this);
					$('html, body').stop().animate({
						scrollTop: ($($anchor.attr('href')).offset().top - 50)
					}, 1250, 'easeInOutExpo');
					event.preventDefault();
				});

				// Highlight the top nav as scrolling occurs
				$('body').scrollspy({
					target: '.navbar-fixed-top',
					offset: 51
				})
				$('a').click( function(e) {
					e.preventDefault(); 
					var player=document.getElementById('player');
					var audio=document.getElementById('source-mp3');
					audio.src='music/' + songName + '.mp3';
					
					player.load();
					player.play();
					return false; 
				} );
			})(jQuery); // End of use strict
			function loadMusic(songName) {
				var player=document.getElementById('player');
				var audio=document.getElementById('source-mp3');
				audio.src='music/' + songName + '.mp3';
				
				player.load();
				player.play();
			}
		</script>
