		<section id="Videos" class="Videos">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well well-lg center">
					<a rel="youtube" href="//www.youtube.com/watch?v=BjZXaKddoqw" class="inline swipebox" title="3DO Commercial">
						<img src="//img.youtube.com/vi/BjZXaKddoqw/1.jpg" class="img-responsive img-thumb-yt" alt="3DO Commercial">
					</a>
					<a rel="youtube" href="//www.youtube.com/watch?v=eJYxh7FU3s4" class="inline swipebox" title="Ship Spins">
						<img src="//img.youtube.com/vi/eJYxh7FU3s4/1.jpg" class="img-responsive img-thumb-yt" alt="Ship Spins">
					</a>
					<a rel="youtube" href="//www.youtube.com/watch?v=3AMw89H-Yjs" class="inline swipebox" title="Intro">
						<img src="//img.youtube.com/vi/3AMw89H-Yjs/1.jpg" class="img-responsive img-thumb-yt" alt="Intro">
					</a>
					<a rel="youtube" href="//www.youtube.com/watch?v=XPpYAUmNzY8" class="inline swipebox" title="Ending">
						<img src="//img.youtube.com/vi/XPpYAUmNzY8/1.jpg" class="img-responsive img-thumb-yt" alt="Ending">
					</a>
				</div>
			</div>
		</section>
